#gameBoard {
    width: 600px;
    height: 600px;
    border-radius: 17%;
    border:16px solid #333;
    margin: 100px auto;
    position: relative;
    box-shadow: 0px 0px 150px #333;
}
#middleCircle {
    height: 300px;
    width: 300px;
    background-color: #333;
    position:absolute;
    left:150px;
    border-radius: 50%;
    top:150px;
    z-index: 100;
    box-shadow: 0px 0px 55px #000;
    cursor: pointer;
}
h1 {
    color:white;
    font-size: 82px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 0px;
    font-family: 'Work Sans', sans-serif;
}
p {
    color:white;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    position: relative;
    top:-10px;
}
h2 {
    margin-top:5px;
    color:white;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
}
.square {
    width: 300px;
    height: 300px;
    float: left;
    cursor: pointer;
}

.red {
    background: linear-gradient(to bottom right, red, #FF7979);
    border-radius: 0 30% 0 0;
}
.blue {
    background: linear-gradient(to bottom left, blue, #A6A6FF);
    border-radius: 30% 0 0 0;
}
.green {
    background: linear-gradient(to top right, green, #00FF00);
    border-radius: 0 0 0 30%;
}
.yellow {
    background: linear-gradient(to top left, yellow, #FFFF95);
    border-radius: 0 0 30% 0;
}